<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-left" id="myModalLabel">KB 임직원의 마음</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>나는 KB의 임직원이야, 이제 내 팔자는 핀거지 ㅋㅋㅋㅋ<br/>
        놀다가 이따 좋은데 가야되는데?<br/>
        일하기 짜증나고 횡령할꺼 찾아야되는데 거지새끼들이 자꾸 대출해달라고 오네?<br/>
        아 개짜증!!! <br/>
        이런식으로 일하다 망하면 어떡하냐고?? ㅋㅋㅋ 걱정마!!<br/>
        세금으로 다시 지원해줄꺼니깐 망해도 걱정없어 그래서 우리는 거지새끼들만 안오면 행복해~~
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t(:confirm) %></button>
    </div>
  </div>
</div>