<p>안녕하세요, <%= @resource.email %>!</p>

<p>국민은행이 망하는 그날까지!! 안티-KB입니다. 비번찾기에서 이 주소의 이메일이 입력받아 제출되어져서 보내진 메일입니다.</p>

<p><%= link_to '비밀번호 바꾸기', edit_password_url(@resource, reset_password_token:@token ) %></p>

<p>만약 비번찾기를 한적이 없다면 그냥 무시하면 됩니다.</p>
<p>위 '비밀번호 바꾸기'를 누르고 새 비밀번호를 만들때까지 비밀번호가 변경되지 않습니다.</p>
